<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}DocNotes{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <header>
    <h1>DocNotes</h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a> |
      <a href="{{ url_for('item_list') }}">Docs</a> |

      {% if session.user_id %}
      <form action="{{ url_for('logout') }}" method="post" style="display:inline">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
		<button type="submit" class="link-button">Log out</button> 
      </form> |
      {% else %}
      <a href="{{ url_for('login') }}">Log in</a> |
      <a href="{{ url_for('register') }}">Create an account</a>
      {% endif %}

    {% if session.user_id %}
	<a href="{{ url_for('user_profile', user_id=session.user_id) }}">   {{
		session.username }}</a>
    {% endif %}

    </nav>
  </header>

  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="info">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

</body>

</html>
