{% extends "layout.html" %}

{% block title %}Log in {% endblock %}

{% block content %}

<h2>Log in</h2>
<form class="auth-form" action="{{ url_for('login') }}" method="post">
	<p>
		<label for="username"></label>
		<input type="text" placeholder="username" id="username" name="username" autocomplete="username" required />
	</p>
	<p>
		<label for="password"></label>
		<input type="password" placeholder="password" id="password" name="password" autocomplete="current-password" required />
	</p>
	<input type="hidden" name="next_page" value="{{ next_page | default('/') }}" />
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

	<button type="submit">log in</button>
</form>
<a href="{{ url_for('register') }}">Create an account</a>

{% endblock %}
